@media screen and (max-width: 425px) {
    header.header{
        display: none;
    }
    nav {
        display: flex;
        height: auto;
        margin-left: 2vw;
        background-color: none;
    }
    .container {
        background-color: none;
        height: auto;
        width: 100vw;
        margin-top: 5vh;
    }
    .container h1 {
        font-size: 28px;
        font-family: arial;
        margin-bottom: 2vh;
        color: #efb300da;
        justify-content: center;
        text-align: center;
    }
    .grid-container {
        display: grid;
        color: #fff;
        background-color: #ffffff;
        grid-template-columns: 250px;
        grid-template-rows: auto;
        grid-column-gap: 1%;
        grid-row-gap: 10px;
        justify-content: center;
        align-content: center;
        grid-auto-flow: row;
    }
    .item {
        background-color: #f5f4f4;
        color: black;
        border: 1px solid rgba(187, 187, 187, 0.651);
        padding: 1rem;
    }
    .item:nth-child(even) {
        background-color: #f5f4f4;
    }
    .space {
        height: 5vh;
    }
    .item button {
        margin-top: 4%;
        padding: 5px;
        border-radius: 10px;
        color: #ffeaab;
        border: 2px solid #efb300;
        text-decoration: none;
        background-color: #efb300;
    }
    .item button:hover {
        background-color: #cd9900;
        border: 2px solid #cd9900;
        text-decoration: none;
    }
    .triangulo {
        display: flex;
        margin-bottom: -3vh;
    }
    .triangulo img {
        position: relative;
        float: right;
        top: -16px;
        right: -46px;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
    }
    .triangulo b{
        background-color: none;
        min-width: 136px;
        height: max-content;
    }
    span, .item b.idade {
        font-family: 'Times New Roman';
        font-size: 17px;
    }
    .item b {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
    }
}

/*VERSÃO TABLET*/
@media screen and (min-width: 426px) and (max-width: 1023px){
    header.header{
        display: none;
    }
    nav {
        display: flex;
        height: auto;
        margin-left: 2vw;
        background-color: none;
    }
    .container {
        background-color: none;
        height: auto;
        width: 100vw;
        margin-top: 5vh;
    }
    .container h1 {
        font-size: 28px;
        font-family: arial;
        margin-bottom: 2vh;
        color: #efb300da;
    }
    .grid-container {
        display: grid;
        color: #fff;
        background-color: #ffffff;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-content: start;
        align-content: start;
        grid-auto-flow: row;
    }
    .item {
        background-color: #f5f4f4;
        color: black;
        border: 1px solid rgba(187, 187, 187, 0.651);
        padding: 1rem;
    }
    .item:nth-child(even) {
        background-color: #f5f4f4;
    }
    .space {
        height: 5vh;
    }
    .item button {
        margin-top: 4%;
        padding: 5px;
        border-radius: 10px;
        color: #ffeaab;
        border: 2px solid #efb300;
        text-decoration: none;
        background-color: #efb300;
    }
    .item button:hover {
        background-color: #cd9900;
        border: 2px solid #cd9900;
        text-decoration: none;
    }
    .triangulo {
        display: flex;
        margin-bottom: -3vh;
    }
    .triangulo img {
        position: relative;
        float: right;
        top: -16px;
        right: -41px;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
    }
    .triangulo b{
        background-color: none;
        min-width: 136px;
        height: max-content;
    }
    span, .item b.idade {
        font-family: 'Times New Roman';
        font-size: 17px;
    }
    .item b {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
    }
}

/*VERSÃO PC*/
@media screen and (min-width: 1024px) {
    .mobile{
        display: none;
    }
    nav {
        display: flex;
        height: auto;
        margin-left: 2vw;
        background-color: none;
    }
    .container {
        background-color: none;
        height: auto;
        width: 100vw;
        margin-top: 12vh;
    }
    .container h1 {
        font-size: 28px;
        font-family: arial;
        margin-bottom: 2vh;
        color: #efb300da;
    }
    .grid-container {
        display: grid;
        color: #fff;
        background-color: #ffffff;
        grid-template-columns: repeat(5, 250px);
        grid-template-rows: auto;
        grid-column-gap: 1%;
        grid-row-gap: 3.2%;
        justify-content: start;
        align-content: start;
        grid-auto-flow: row;
    }
    .item {
        background-color: #f5f4f4;
        color: black;
        border: 1px solid rgba(187, 187, 187, 0.651);
        padding: 1rem;
    }
    .item:nth-child(even) {
        background-color: #f5f4f4;
    }
    .space {
        height: 5vh;
    }
    .item button {
        margin-top: 4%;
        padding: 5px;
        border-radius: 10px;
        color: #ffeaab;
        border: 2px solid #efb300;
        text-decoration: none;
        background-color: #efb300;
    }
    .item button:hover {
        background-color: #cd9900;
        border: 2px solid #cd9900;
        text-decoration: none;
    }
    .triangulo {
        display: flex;
    }
    .triangulo img {
        position: relative;
        float: right;
        top: -16px;
        right: -42px;
        width: 50px;
        height: 50px;
    }
    .triangulo b{
        background-color: none;
        min-width: 136px;
        height: max-content;
    }
    span, .item b.idade {
        font-family: 'Times New Roman';
        font-size: 17px;
    }
    .item b {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
    }
}